#block-views-block-intro-block-1 {
  height: 500px;
  overflow: hidden; }
  #block-views-block-intro-block-1 > h2 {
    display: none; }
  #block-views-block-intro-block-1 .view-intro .views-row {
    margin: 0; }
  #block-views-block-intro-block-1 .view-intro .owl-nav {
    margin: 0; }
  #block-views-block-intro-block-1 .view-intro .owl-prev {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
    width: 80px;
    background: url("../images/intro-navigation-prev.png") no-repeat 50% 50%;
    padding: 0;
    margin: 0;
    text-indent: 300px;
    white-space: nowrap;
    overflow: hidden; }
  #block-views-block-intro-block-1 .view-intro .owl-next {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    width: 80px;
    background: url("../images/intro-navigation-next.png") no-repeat 50% 50%;
    padding: 0;
    margin: 0;
    text-indent: 300px;
    white-space: nowrap;
    overflow: hidden; }
  @media (max-width: 999px) {
    #block-views-block-intro-block-1 .view-intro .owl-nav {
      display: none; } }
  #block-views-block-intro-block-1 .view-intro .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0; }
  #block-views-block-intro-block-1 .view-intro .owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px; }
  #block-views-block-intro-block-1 .view-intro .owl-theme .owl-dots .owl-dot.active span {
    background: black; }

.node--type-intro {
  height: 500px;
  position: relative; }
  .node--type-intro .container {
    margin: 0 auto;
    width: 75%; }
  .node--type-intro .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    .node--type-intro .image img {
      max-width: none;
      width: auto;
      height: 500px; }
  .node--type-intro .content {
    padding-top: 120px; }
    .node--type-intro .content h2 {
      position: relative;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 4rem;
      padding: 0;
      margin: 0 0 15px 0;
      transition: all 0.6s 0.4s ease;
      top: 50px;
      opacity: 0;
      max-width: 500px; }
    .node--type-intro .content p {
      position: relative;
      font-size: 2rem;
      color: #FFFFFF;
      margin: 0 0 10px 0;
      transition: all 0.6s 0.8s ease;
      top: 50px;
      opacity: 0;
      max-width: 500px; }
    .node--type-intro .content .link {
      position: relative;
      transition: all 0.6s 1.2s ease;
      top: 50px;
      opacity: 0;
      padding-top: 15px; }
      .node--type-intro .content .link a {
        background: #0f5f83;
        color: #FFFFFF;
        padding: 12px 25px;
        display: inline-block; }

.view-intro .owl-item.active .node--type-intro .content h2 {
  top: 0px;
  opacity: 1; }

.view-intro .owl-item.active .node--type-intro .content p {
  top: 0px;
  opacity: 1; }

.view-intro .owl-item.active .node--type-intro .content .link {
  top: 0px;
  opacity: 1; }
