// 
// BLOCK -- intro
// 

#block-views-block-intro-block-1 {
    height: 500px;
    overflow: hidden;

    & > h2 {
        display: none;
    }

    .view-intro {

        .views-row {
            margin: 0;
        }
        
        // nav
        .owl-nav {
            margin: 0;
        }
        .owl-prev {
            position: absolute;
            left: 20px;
            top: 0;
            height: 100%;
            width: 80px;
            background: url('../images/intro-navigation-prev.png') no-repeat 50% 50%;
            padding: 0;
            margin: 0;
            text-indent: 300px;
            white-space: nowrap;
            overflow: hidden;
        }
        .owl-next {
            position: absolute;
            right: 20px;
            top: 0;
            height: 100%;
            width: 80px;
            background: url('../images/intro-navigation-next.png') no-repeat 50% 50%;
            padding: 0;
            margin: 0;
            text-indent: 300px;
            white-space: nowrap;
            overflow: hidden;
        }

        @media (max-width: 999px) {

            .owl-nav {
                display: none;
            }

        }
        
        // dots
        .owl-dots {
            position: absolute;
            width: 100%;
            bottom: 30px;
            left: 0;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 13px;
            height: 13px;
        }
        .owl-theme .owl-dots .owl-dot.active span {
            background: black;
        }

    }


}
