// 
// NODE -- intro
// 

.node--type-intro {
    height: 500px;
    position: relative;

    .container {
        margin: 0 auto;
        width: 75%;
    }

    .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 500px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: none;
            width: auto;            
            height: 500px;
        }

    }

    .content {
        padding-top: 120px;

        h2 {
            position: relative;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 4rem;
            padding: 0;
            margin: 0 0 15px 0;
            transition: all 0.6s 0.4s ease;
            top: 50px;
            opacity: 0;
            max-width: 500px;
        }
        p {
            position: relative;
            font-size: 2rem;
            color: #FFFFFF;
            margin: 0 0 10px 0;
            transition: all 0.6s 0.8s ease;
            top: 50px;
            opacity: 0;
            max-width: 500px;
        }
        .link {
            position: relative;
            transition: all 0.6s 1.2s ease;
            top: 50px;
            opacity: 0;
            padding-top: 15px;

            a {
                background: $primary-dark-color;
                color: #FFFFFF;
                padding: 12px 25px;
                display: inline-block;
            }

        }

    }

}

// active
.view-intro {

    .owl-item.active {

        .node--type-intro {
    
            .content {
    
                h2 {
                    top: 0px;
                    opacity: 1;
                }
                p {
                    top: 0px;
                    opacity: 1;
                }
                .link {
                    top: 0px;
                    opacity: 1;
                }
    
            }
    
        }
    
    }
    
}
