{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="image">
    {{ content.field_intro_desktop.0 }}
  </div>

  <div class="container">
    <div class="content">
      <h2>{{ label }}</h2>
      {{ content.field_intro_text.0 }}  
      {% if content.field_intro_link.0 is not empty %}
        <div class="link">{{ content.field_intro_link.0 }}</div>
      {% endif %} 
    </div>
  </div>

</article>

